APP_URL=http://localhost
APP_HOST=127.0.0.1
APP_PORT=3000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=go
DB_USERNAME=root
DB_PASSWORD=123

JWT_SECRET=SECRET_KEY

S3_BUCKET=YOURS3BUCKET
SECRET_KEY=YOURSECRETKEYGOESHERE